@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

.Form {
    max-width: 420px;
    margin: 50px auto;
    /* background:rgb(30,30,40);  */
}

.inputGroup {
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 5px;
}

.inputGroup:focus {
    border: 2px solid #cc4949;
}

.input {
    width: 300px;
    border-radius: 5px;
    text-align: center;
    padding: 10px 0;
}

.textarea {
    font-size: large;
    width: 300px;
    height: 70px;
    border-radius: 5px;
    text-align: center;
    letter-spacing: 2px;
    padding-top: 4px;
}

.button {
    border-bottom: 5px solid #fff;
    width: 300px; /* inputタグと同じ幅に設定 */
    background-color: #ff4da1;
    border-radius: 5px;
    border: 0;
    cursor: pointer;
    color: white;
    font-size: 24px;
    padding-top: 5px; /* 調整された値 */
    padding-bottom: 5px; /* 調整された値 */
    transition: all 0.3s;
    margin: 10px 0 20px 0px; /* 必要に応じて調整 */
    font-weight: 700;
}

.button:hover {
    background-color: #ff3399;
}
