.stand {
    background-image: url(../public/images/oraora.jpg);
    background-size: cover;
    background-position: center;
    padding: 20px;
}

.createContainer {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    color: #ff4da1;
}

.createForm {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.createLabel {
    font-size: 18px;
    color: #333;
}

.createTitle {
    background-color: rgba(0, 0, 0, 0.5); /* 背景色の設定 */
}

.createTitle p {
    font-size: 24px;
    color: #fff; /* 文字色を白に設定 */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* 影の追加 */
    padding: 10px; /* パディングの追加 */
    border-radius: 5px; /* 角丸の設定 */
}
.createTitle input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.imagePreview {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.btnCreate {
    background-color: #ff4da1;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
}

.btnCreate:hover {
    background-color: #ff3399;
}
