.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.logo-container {
    margin-bottom: 20px;
}

.logo {
    width: 250px; /* ロゴの適切なサイズに調整してください */
}

.login-form {
    width: 400px;
    padding: 40px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 20px;
}

.label {
    display: block;
    margin-bottom: 10px;
}

.input {
    width: 100%;
    padding: 10px;
    font-size: 18px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.button {
    width: 100%;
    padding: 15px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
}

.button:hover {
    background-color: #0056b3;
}

.error {
    color: red;
    margin-top: 15px;
}