.slideWrapper {
    position: relative; /* 相対位置を設定してナビゲーションボタンを配置 */
}

.swiper-button-prev,
.swiper-button-next {
    z-index: 1; /* ナビゲーションボタンがランキングテキストよりも上に表示されるようにする */
}

.horizontalLineOne {
    border: 18px solid rgba(0, 0, 0, 0.7); /* 背景色を設定 */
    margin-bottom: 8px;
}

.horizontalLineTwo {
    border: 18px solid rgba(0, 0, 0, 0.7); /* 背景色を設定 */
}

.rankings {
    position: absolute; /* 絶対位置を設定して画像の下に配置 */
    bottom: 0; /* 下端に配置 */
    left: 0; /* 左端に配置 */
    width: 100%; /* 幅を100%にして親要素に合わせる */
    text-align: center; /* テキストを中央揃えにする */
    color: white; /* テキスト色を設定 */
    padding: 8px; /* パディングを追加して見栄えを良くする */
    overflow: hidden; /* 画像と同じ横幅で切れるようにする */
}

.rankingsText {
    font-size: 48px; /* テキストサイズを設定 */
    font-weight: bold; /* フォントウェイトを太字にする */
    color: #ffff00; /* テキスト色を黄色に変更 */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); /* テキストに影を追加 */
}
